{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ],
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "clike",
          "typescript",
          "json",
          "jsx",
          "tsx",
          "html",
          "markdown",
          "bash",
          "go",
          "protobuf",
          "yaml"
        ],
        "plugins": ["line-numbers"],
        "css": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": false,
            "displayName": false
          }
        ]
      ]
    }
  }
}
